!!!
%html{lang: :en}
  %head
    %meta{charset: :utf8}
    %meta{name: :viewport, content: "width=device-width, intial-scale=1"}
    %title Plumb IRC into Matrix at SNT
    %link{href: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css", rel: :stylesheet, integrity: "sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx", crossorigin: :anonymous}
  %body.container.pt-2
    - if session.include? :notice
      .alert.alert-success.alert-dismissible
        = session.delete :notice
        %button.btn-close{data: {"bs-dismiss" => :alert}}
    - if session.include? :alert
      .alert.alert-danger.alert-dismissible
        = session.delete :alert
        %button.btn-close{data: {"bs-dismiss" => :alert}}
    %h1 Plumb IRC into Matrix at SNT
    %form{action: "link", method: :post}
      .form-floating.mb-3
        %select#network.form-select{name: :network}
          - network = session.delete(:network)&.to_sym
          %option{value: :ircnet, selected: network == :ircnet} IRCNet
          %option{value: :tweakers, selected: network == :tweakers} Tweakers.net
        %label{for: :network} IRC network
      .form-floating.mb-3
        %input#channel.form-control{name: :channel, placeholder: "#my-channel", value: session.delete(:channel)}
        %label{for: :channel} IRC channel
      .form-floating.mb-3
        %input#room_id.form-control{name: :room_id, placeholder: "!aBc746X6z:example.com", value: session.delete(:room_id)}
        %label{for: :room_id} Matrix room ID
      .form-floating.mb-3
        %input#op_nick.form-control{name: :op_nick, placeholder: "ChannelOp", value: session.delete(:op_nick)}
        %label{for: :op_nick} IRC nick with channel op
      .form-floating.mb-3
        %input#user_id.form-control{name: :user_id, placeholder: "@user:example.com", value: session.delete(:user_id)}
        %label{for: :user_id} Matrix user ID
      %button.btn.btn-primary{type: :submit} Submit

    %script{src: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js", integrity: "sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa", crossorigin: :anonymous}
